<!DOCTYPE html>
<html lang="ko">
<head>
	<title>table</title>
	<style>
	.tbl {width: 100%;}
	.tbl caption { display: none; }
	.tbl td {text-align: center;}
	</style>
</head>
<body>
<div id="insert">
<form action="" id="form" name="form" onsubmit="fn.getValue();return false;">
<fieldset>
<legend>insert</legend>
<table class="tbl"><caption>Insert</caption>
<thead>
<tr>
	<th scope="col">Index</th>
	<th scope="col">Name</th>
	<th scope="col">Number</th>
	<th scope="col">etc.</th>
</tr>
</thead>
<tbody>
<tr>
	<td class="idx"></td>
	<td class="name"><input type="text" name="name" title="Name"></td>
	<td class="number"><input type="text" name="number" title="Number"></td>
	<td class="etc"><input type="text" name="etc" title="etc"></td>
</tr>
</tbody>
</table>

<button type="submit">Submit</button>
</fieldset>
</form>
</div>
<div id="view">
</div>
<script>
;(function() {
	var _fn = {
			getId : function(name) {
				return document.getElementById(name);
			},
			getClass : function(name,target) {
				target = (target==undefined)?document:target;
				return target.getElementsByClassName(name)[0];
			},
			getNode : function(name,target) {
				target = (target==undefined)?document:target;
				var list = target.childNodes;
				for(var i of list) {
					if(String(i.nodeName).toLowerCase() == name.toLowerCase()) {
						return i;
					}
				}
			},
			getValue : function() {
				if(form.name.value =="") {
					alert('값을 입력해 주세요.');
					form.name.focus();
					return false;
				}else {
                    var el = form.querySelectorAll( "input, select, textarea" );
					var obj = {};

                    for( var i = 0; i < el.length; ++i ) {
                        var element = el[i];
                        var name = element.name;
                        var value = element.value;

                        if( name ) {
                            obj[ name ] = value;
                        }
                        element.value = "";
                    }

                    return fn.set(obj);
				}
			},
            set : function(obj) {
                arr.push(obj);
                console.log('set', obj,arr)
            }
	}
	
	if (typeof fn == 'undefined') {
		window.fn = {};
	}
	fn = _fn;
})();
var arr = [];
var insert = fn.getId('insert');
var insertTbl = fn.getClass('tbl',insert);

var view = fn.getId('view');
var thead = fn.getNode('thead',insertTbl)

console.log(arr)
</script>
</body>
</html>