@charset "utf-8";

body {font: 14px "나눔 고딕","Nanum Gothic", "맑은 고딕", "Malgun Gothic", "Nanum Barun Gothic","sans-serif", "dotum", "돋움", "gulim", "굴림"; color:#373737;-webkit-text-size-adjust:none;letter-spacing: -1px;}
body, div, dl, dt, dd, th, td, ul, ol, li, h1, h2, h3, h4, h5, h6, form, fieldset, p, blockquote, button, input, textarea{margin:0; padding:0;}
article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, main {display:block; margin:0; padding:0;}
hr, table caption {display:none;}
legend, .blind,.hidden {position:absolute; width:0; height:0; overflow:hidden; font-size:0; line-height:0;}
table {width:100%; border-collapse:collapse; border-spacing:0; table-layout:fixed;}
img, fieldset, button, input{border:0; vertical-align:middle;}
ul, ol, li {list-style:none;}
em, address {font-style:normal;}
label, button {cursor:pointer;}
a {text-decoration:none; color:#555;}
a[href^="tel:"] {color: inherit;}
button {vertical-align:top; background:transparent;}
button::-moz-focus-inner {padding:0; border:0;}
h1, h2, h3, h4, h5, h6 {font-size:1em; font-weight:normal;}
input, select, button, textarea {-moz-box-sizing:border-box;-webkit-box-sizing:border-box;-ms-box-sizing:border-box;box-sizing:border-box;}
/* 접근성 메뉴 */
#accessibility {}
#accessibility a {position: absolute;left:0;top:-50px;width: 100%;height: 50px;background: #000;color: #fff;overflow: hidden}
#accessibility a:hover,
#accessibility a:focus {position: relative;display: block;top:0;height: 50px;line-height: 50px;overflow: visible;}
